.search-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.search-input {
  padding: 15px 15px;
  font-size: 15px;
  width: 250px;
  border-width: 0;
  background-color: #b4ee79;
  color: #000000;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.search-input::placeholder {
  color: #000000;
}

.search-input:focus {
  outline: none;
}
